table.MainTable {
    width: 80%;
    font-family: Arial Narrow, monospace;
    background-color: #ffffff;
    border-collapse: separate;
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    text-align: center;
    color: #000000;
}

table.MainTable td, table.MainTable th {
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    padding: 3px;
}

table.MainTable thead {
    background-color: #b1c5cd;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

h1.PageTitle {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

h2.QuestionTitle {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: overline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.StickyMenu {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 20em;
    margin-top: -2.5em;
    round-clip: 10%;
}

table.TagsTable {
    width: 10cm;
    font-family: Arial Narrow, monospace;
    background-color: #ffffff;
    border-collapse: separate;
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    text-align: center;
    color: #000000;
}

table.TagsTable td, table.TagsTable th {
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    padding: 1px;
}

table.TagsTable thead {
    background-color: #b1c5cd;
}

table.HelperTable {
    width: 20cm;
    font-family: Arial Narrow, monospace;
    background-color: #ffffff;
    border-collapse: separate;
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    text-align: center;
    float: right;
    margin-right: 10%;
    color: #000000;
}

table.HelperTable td, table.HelperTable th {
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    padding: 1px;
}

table.HelperTable thead {
    background-color: #b1c5cd;
}

table.HelperTable2 {
    width: 20cm;
    font-family: Arial Narrow, monospace;
    background-color: #ffffff;
    border-collapse: separate;
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    text-align: center;
    float: left;
    margin-left: 10%;
    color: #000000;
}

table.HelperTable2 td, table.HelperTable2 th {
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    padding: 1px;
}

table.HelperTable2 thead {
    background-color: #b1c5cd;
}

table.HelperTable3 {
    width: 10cm;
    font-family: Arial Narrow, monospace;
    background-color: #ffffff;
    border-collapse: separate;
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    text-align: center;
    float: right;
    margin-right: 10%;
    color: #000000;
}

table.HelperTable3 td, table.HelperTable3 th {
    border-width: 2px;
    border-color: #89a0a9;
    border-style: groove;
    padding: 1px;
}

label.LabelTitles {
    font-family: Arial Narrow, monospace;
}

a {
    font-family: Arial Narrow, monospace;
}

button.ButtonStyle {
    font-family: Arial Narrow, monospace;
}

h2.Logged {
    font-family: Arial Narrow, monospace;
}

p.ProfilePage {
    font-family: Arial Narrow, monospace;
}

input.ButtonStyle {
    font-family: Arial Narrow, monospace;
}