{% extends "layout.html" %}

{% block content %}
    <h1>ADD NEW COMMENT</h1>
    <form action="{{ url_for("add_comment_to_question", question_id=question_id) }}" method="POST">
        <p class="titles">Your comment<br>
            <label>
                <textarea rows="4" cols="50" name="message"></textarea>
            </label>
        </p>
        <br>
        <button type="submit" class="myButton">ADD COMMENT</button>
    </form>
    <br>
    <p>
        <a href="{{ url_for("display_single_question", question_id=question_id) }}" style="color: black">GO BACK TO
            QUESTION</a>
    </p>
{% endblock %}