{% extends "layout.html" %}

{% block content %}
    <h2 class="QuestionTitle"> Don't even ask, mate!<br>ADD NEW QUESTION</h2>
    <form action="{{ url_for('add_new_question') }}" method="post">
        <label for="title" class="LabelTitles">Title</label><br>
        <input type="text" name="title" id="title" style="height: 50px; width: 350px"><br>
        <br>
        <br>
        <label for="message" class="LabelTitles">Message</label><br>
        <textarea name="message" id="message" style="height: 100px; width: 350px"></textarea><br>
        <br>
        <label for="image" class="LabelTitles">Add your image url:</label>
        <input type="url" id="image" name="image" placeholder="url"><br>
        <br>
        <input type="submit" value="ADD QUESTION" class="ButtonStyle">
    </form>
    <br>
{% endblock %}