{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('add_new_answer', question_id=question_id) }}" method="post">
        <label for="message" class="titles">Your Answer:</label>
        <br>
        <br>
        <textarea name="message" rows="4" cols="50"></textarea>
        <br>
        <br>
        <input type="file" name="file" value="CHOSE FILE" accept="image/png, image/jpeg">
        <br>
        <input type="submit" value="ADD" class="myButton">
    </form>
    <br>
    <p><a href="/" style="color: black">GO BACK TO MAIN PAGE</a></p>
{% endblock %}
