{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('add_new_answer', question_id=question_id) }}" method="post">
        <label for="message" class="titles">Your Answer:</label>
        <br>
        <br>
        <textarea name="message" rows="4" cols="50"></textarea>
        <br>
        <br>
        <label for="image">Add your image url:</label>
        <input type="url" id="image" name="image" placeholder="url"><br>
        <input type="submit" value="ADD" class="myButton">
    </form>
    <br>
    <a href="{{ url_for("display_single_question", question_id=question_id) }}" style="color: black">GO BACK TO THE
        QUESTION PAGE </a>
{% endblock %}
