{% extends "layout.html" %}

{% block content %}
    <body>
    <h2 class="QuestionTitle">Edit comment</h2>
    <form method="POST">
        <label for="message" class="LabelTitles"></label>
        <br>
        <textarea rows="6" cols="50" required id="message" name="message">{{ comment_content }}</textarea><br>
        <br>
        <input type="submit" value="UPDATE COMMENT" class="ButtonStyle">
    </form>
    </body>
    <br>
    <p><a href="/" methods="post" style="color: black">GO BACK
        TO MAIN PAGE</a></p>
{% endblock %}