{% extends "layout.html" %}

{% block content %}
    <body>
    <h1 class="QuestionTitle">EDIT QUESTION</h1>
    <form method="POST">
        <label for="title" class="LabelTitles">TITLE</label><br>
        <textarea rows="2" cols="50" required id="title" name="title">{{ title_content }}</textarea><br>
        <br>
        <label for="message" class="LabelTitles">MESSAGE</label><br>
        <br>
        <textarea rows="10" cols="50" required id="message" name="message">{{ question_content }}</textarea><br>
        <br>
        <input type="submit" value="EDIT QUESTION" class="ButtonStyle">
    </form>
    </body>
    <br>
    <p><a href="{{ url_for("display_single_question", question_id=question_id) }}" style="color: black">GO BACK
        TO PREVIOUS PAGE</a></p>
{% endblock %}