{% extends "layout.html" %}

{% block content %}
    <body>
    <h1>EDIT QUESTION</h1>
    <form method="POST">
        <label for="title" class="titles">TITLE</label><br>
        <textarea rows="2" cols="50" required id="title" name="title">{{ title_content }}</textarea><br>
        <br>
        <label for="message" class="titles">MESSAGE</label><br>
        <br>
        <textarea rows="4" cols="50" required id="message" name="message">{{ question_content }}</textarea><br>
        <br>
        <input type="submit" value="Edit question" class="myButton">
    </form>
    </body>
    <br>
    <br>
    <p><a href="/" style="color: black">GO BACK TO MAIN PAGE</a></p>
{% endblock %}