{% extends "layout.html" %}

{% block content %}

    <h1 class="main-title">Don't even ask, mate!</h1>
    <div>
        {% if 'username' in session %}
            <h4>WELCOME {{ session['username'] }} !</h4>
            <a href="logout" style="color: black">LOG OUT</a>
            <br>
            <br>
            <a href="add_new_question" style="color: black" methods="post">ADD QUESTION</a>
            <br>
            <br>
            <a href="users" style="color: black">USERS</a>
            <br>
            <br>
            <form action="{{ url_for('user_page', user_id=session['user_id']) }}" method="GET">
                <input type="submit" value="MY PROFILE" class="myButton">
            </form>
        {% else %}
            <h4>WELCOME, MATE!</h4>
            <a href="registration" style="color: black">REGISTER</a>
            <br>
            <br>
            <a href="login" style="color: black">LOGIN</a>
        {% endif %}
    </div>
    <br>
    <h1>Search by phrase</h1>
    <form action="/search">
        <label for="phrase">Title or message: </label>
        <input name="phrase" type="text" id="phrase">
        <button type="submit" class="smallButton">Search</button>
    </form>
    <br>
    {% if title == "List questions" %}
        <form action="{{ url_for('display_questions_list', order_by=order_by, order=order) }}" method="GET">

            <label for="order_by">Sort questions by: </label>
            <select name="order_by" id="order_by">
                {% for key, option in select_options.items() %}
                    <option {% if key == order_by %}selected{% endif %}
                            value="{{ key }}">{{ option }}</option>
                {% endfor %}
            </select>
            <label for="order">Order: </label>
            <select name="order" id="order">
                {% for option in order_options %}
                    <option {% if option == order %} selected {% endif %}
                                                     value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <p>
                <button type="submit" class="myButton">Sort</button>
            </p>
        </form>
    {% endif %}
    <br>
    <a href="{{ url_for('show_tags',tags=tags) }}" style="color: black">SHOW ALL TAGS</a>
    <table class="darkTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>SUBMISSION<br>TIME</th>
            <th>VIEW<br>NUMBER</th>
            <th>VOTE<br>NUMBER</th>
            <th>TITLE</th>
            <th>MESSAGE</th>
            <th>IMAGE</th>
            <th>MORE</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                {#                {% for key in question.keys() %}#}
                <td>{{ question['id'] }}</td>
                <td>{{ question['user_id'] }}</td>
                <td>{{ question['submission_time'] }}</td>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                <td>{{ question['title'] }}</td>
                <td>{{ question['message'] }}</td>

                <td><img src="{{ question['image'] }}" height="150" alt="image from url"</td>
                <td>{{ question['more'] }}</td>

                {#                {% endfor %}#}
                <td><a href="{{ url_for('display_single_question',question_id=question['id']) }}">See more</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if title == "Main page" %}
        <p><a href="{{ url_for('display_questions_list', order_by = 'submission_time', order = 'DESC') }}"
              style="color: black">List all questions</a></p>
    {% else %}
        <br>
        <p><a href="{{ url_for('get_5_latest_questions') }}" style="color: black">Go to the main page!</a></p>
    {% endif %}
{% endblock %}