{% extends 'layout.html' %}

{% block content %}
    <div>
        <h1>You can log-in here:</h1>
        <form action="login" method="POST">
            <p>USERNAME</p>
            <input type="email" name="username" placeholder="Enter Username">
            <p>PASSWORD</p>
            <input type="password" name="password" placeholder="Enter Password"></p>
            <input type="submit" name="login" value="LOGIN">
        </form>
    </div>
    <br>
    <br>
    <p><a href="/" style="color: black">BACK TO MAIN PAGE</a></p>
{% endblock content %}