{% extends 'layout.html' %}

{% block content %}
    <div>
        <h1>You can register here:</h1>
        <form action="registration" method="POST">
            <p>USERNAME</p>
            <label>
                <input type="text" name="username" placeholder="Enter Username">
            </label>
            <p>PASSWORD</p>
            <label>
                <input type="password" name="password" placeholder="Enter Password">
            </label>
            <br>
            <br>
            <button type="submit" class="ButtonStyle">REGISTER</button>
        </form>
    </div>
    <br>
    <br>
    <p><a href="/" style="color: black">BACK TO MAIN PAGE</a></p>
{% endblock content %}