{% extends "layout.html" %}

{% block content %}
    <div class="StickyMenu">
        {% if 'username' in session %}
            <h1>You are logged in as:</h1>
            <h2 class="Logged">{{ session['username'] }}</h2>
            <form action="/logout">
                <button class="btn"><i class="fa fa-close"> LOG OUT</i></button>
            </form>
        {% else %}
            <h1>You are not logged in!</h1>
            <form action="/login">
                <button class="btn"><i class="fa fa-check"> LOG IN</i></button>
            </form>
        {% endif %}
    </div>
    <p><a href="/" style="color: black">GO BACK TO MAIN PAGE</a></p>
    <h1>You are reviewing the question:</h1>
    <h2 class="QuestionTitle"> {{ single_question["title"] }}</h2>
    <br><br>
    <table class="MainTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>SUBMISSION TIME</th>
            <th>VIEW NUMBER</th>
            <th>VOTE NUMBER</th>
            <th>TITLE</th>
            <th>MESSAGE</th>
            <th>IMAGE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ single_question['id'] }}</td>
            <td>{{ single_question['user_id'] }}</td>
            <td>{{ single_question['submission_time'] }}</td>
            <td>{{ single_question['view_number'] }}</td>
            <td>{{ single_question['vote_number'] }}</td>
            <td style="width: 7cm">{{ single_question['title'] }}</td>
            <td style="width: 15cm">{{ single_question['message'] }}</td>
            <td><img src="{{ single_question['image'] }}" height="150" alt="image from url"></td>
        </tr>
        </tbody>
    </table>
    <br>
    {% if 'user_id' in session %}
        <table class="HelperTable">
            <td><p><a href="{{ url_for("delete_question", question_id=question_id) }}" class="myButton">DELETE<br>QUESTION</a>
            </p>
            </td>
            <td><p><a href="{{ url_for("update_question", question_id=question_id) }}" class="myButton">EDIT<br>QUESTION</a>
            </p>
            </td>
            <td><a href="{{ url_for("vote_for_question", question_id=question_id, vote_type='up') }}" class="myButton">LIKE!<br>QUESTION</a>
            </td>
            <td><a href="{{ url_for("vote_for_question", question_id=question_id, vote_type='down') }}"
                   class="myButton">DISLIKE!<br>QUESTION</a></td>
        </table>
        <br>
        <table class="HelperTable2">
            <td>
                <h3>TAGS FOR THIS QUESTION:</h3>
                <a>{% for tag in tags_assigned_to_question %}
                    {{ tag['name'] }}
                {% endfor %}</a>
            </td>
            <td>
                <form action="{{ url_for('add_connection', question_id=question_id, tag_id=tag_id) }}" method="POST">
                    <label class="LabelTitles">Select tag from list: </label>
                    <select name="tag-id">
                        {% for tag in all_tags %}
                            <option value="{{ tag['id'] }}">{{ tag['name'] }}</option>
                        {% endfor %}
                    </select>
                    <p>
                        <button type="Submit" class="ButtonStyle">ADD TAG</button>
                    </p>
                    <h3>or</h3>
                    <p><a href="{{ url_for("add_tag", question_id=question_id) }}" class="myButton">ADD NEW TAG</a></p>
                </form>
            </td>
            <td>
                <form action="{{ url_for('delete_tag', question_id=question_id, tag_id=tag_id) }}" method="POST">
                    <label>Select tag for delete:</label>
                    <select name="tag-id">
                        {% for tag in tags_assigned_to_question %}
                            <option value="{{ tag['id'] }}">{{ tag['name'] }}</option>
                        {% endfor %}
                    </select>
                    <p>
                        <button type="Submit" class="ButtonStyle">DELETE TAG</button>
                    </p>
                </form>
            </td>
        </table>
    {% endif %}
    <br><br><br>
    <a href="{{ url_for('show_tags',tags=tags) }}" style="color: black">SHOW ALL TAGS</a>
    <br><br>
    <br>
    <h2 class="QuestionTitle">COMMENTS TO QUESTION</h2>
    <table class="MainTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>MESSAGE</th>
            <th>SUBMISSION TIME</th>
            <th>EDITED COUNT</th>
            {% if 'user_id' in session %}
                <th>MORE</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for comment in comment_to_question %}
            <tr>
                <td>{{ comment["id"] }}</td>
                <td>{{ comment["message"] }}</td>
                <td>{{ comment["submission_time"] }}</td>
                <td>{{ comment["edited_count"] }}</td>
                <td>
                    {% if 'user_id' in session %}
                        <p><a href="{{ url_for("update_comment", comment_id=comment["id"], question_id=question_id) }}"
                              methods="post">EDIT
                            COMMENT</a></p>
                        <p><a href="{{ url_for("delete_comment", comment_id=comment["id"], question_id=question_id) }}">DELETE
                            COMMENT</a></p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if 'username' in session %}
        <table class="HelperTable3">
            <td><a href="{{ url_for('add_comment_to_question', question_id=question_id) }}" class="myButton">ADD
                NEW COMMENT</a></td>
        </table>
    {% endif %}
    <br><br><br><br><br>
    <h1>Answers</h1>
    <table class="MainTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>SUBMISSION TIME</th>
            <th>VOTE NUMBER</th>
            <th>QUESTION ID</th>
            <th>MESSAGE</th>
            <th>IMAGE</th>
            <th>ACCEPTATION</th>
            <th>COMMENTS TO ANSWER</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        {% for answer in answers_to_single_question %}
            <tr>
                <td> {{ answer["id"] }}</td>
                <td> {{ answer["user_id"] }}</td>
                <td> {{ answer["submission_time"] }}</td>
                <td> {{ answer["vote_number"] }}</td>
                <td> {{ answer["question_id"] }}</td>
                <td> {{ answer["message"] }}</td>
                <td><img src="{{ answer['image'] }}" height="150" alt="image from url"></td>
                {% if answer['validation'] == True %}
                    <td><strong style="color: #000000; font-size: 50px">&#9745;</strong></td>
                {% else %}
                    <td><strong style="color: crimson; font-size: 50px">&#9746;</strong></td>
                {% endif %}
                {% if 'username' in session %}
                    <td>
                        <p>
                            <a href="{{ url_for("add_comment_to_answer", answer_id=answer["id"], question_id=answer["question_id"]) }}">COMMENT
                                ANSWER</a></p>
                        <a href="{{ url_for("update_answer", answer_id=answer["id"], question_id=answer["question_id"]) }}">EDIT
                            ANSWER</a>
                        <p>
                            <a href="{{ url_for("delete_answer", answer_id=answer["id"], question_id=answer["question_id"]) }}">DELETE
                                ANSWER</a></p>
                        <a href="{{ url_for("vote_for_answer", answer_id=answer["id"], question_id=answer["question_id"], vote_type='up') }}">VOTE
                            UP</a>
                        <p>
                            <a href="{{ url_for('vote_for_answer', answer_id=answer["id"], question_id=answer["question_id"], vote_type='down') }}">VOTE
                                DOWN</a></p>
                    </td>
                {% endif %}
                <td>
                    <p>
                        <a href="{{ url_for('display_comment_to_answer', question_id=answer["question_id"], answer_id=answer["id"]) }}"
                           style="color: black">SEE COMMENTS FOR THIS ANSWER</a></p>
                </td>
                {% if 'username' in session %}
                    <td>
                        {% if session['user_id'] == single_question['user_id'] %}
                            {% if answer['validation'] == True %}
                                <form action="{{ url_for('unaccepted_answer', question_id=answer["question_id"], answer_id=answer['id']) }}"
                                      method="post">
                                    <button type="submit">UNACCEPTED ANSWER</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('accepted_answer', question_id=answer["question_id"], answer_id=answer['id']) }}"
                                      method="post">
                                    <button type="submit">ACCEPTED ANSWER</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <br>
        <br>
    </table>
    <br>
    {% if 'username' in session %}
        <table class="HelperTable3">
            <td><a href="{{ url_for('add_new_answer',question_id=question_id) }}" class="myButton">ADD NEW ANSWER</a>
            </td>
        </table>
    {% endif %}
    <br>
    <br><br><br>
{% endblock %}
