{% extends "layout.html" %}

{% block content %}
    <p><a href="/" style="color: black">GO BACK TO MAIN PAGE</a></p>
    <h1>YOU ARE REVIEWING THE QUESTION:<br> {{ single_question["title"] }}</h1>
    <table class="darkTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>SUBMISSION TIME</th>
            <th>VIEW NUMBER</th>
            <th>VOTE NUMBER</th>
            <th>TITLE</th>
            <th>MESSAGE</th>
            <th>IMAGE</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ single_question['id'] }}</td>
            <td>{{ single_question['user_id'] }}</td>
            <td>{{ single_question['submission_time'] }}</td>
            <td>{{ single_question['view_number'] }}</td>
            <td>{{ single_question['vote_number'] }}</td>
            <td>{{ single_question['title'] }}</td>
            <td>{{ single_question['message'] }}</td>
            <td><img src="{{ single_question['image'] }}" height="150" alt="image from url"></td>
        </tr>
        </tbody>
    </table>
    <br>
    {% if 'user_id' in session %}
        <p><a href="{{ url_for("delete_question", question_id=question_id) }}" class="myButton">DELETE</a></p>
        <p><a href="{{ url_for("update_question", question_id=question_id) }}" class="myButton">EDIT</a></p>
        <a href="{{ url_for("vote_for_question", question_id=question_id, vote_type='up') }}" class="myButton">VOTE
            UP</a>
        {#        <button type="button" class="vote"><a href="/question/{{ data.id }}/vote_up"><i class="fa fa-thumbs-o-up"></i></a></button>#}
        <a href="{{ url_for("vote_for_question", question_id=question_id, vote_type='down') }}" class="myButton">VOTE
            DOWN</a>
    {% endif %}
    <br>
    <br>
    <br>
    {% if 'user_id' in session %}
        <form action="{{ url_for('add_connection', question_id=question_id, tag_id=tag_id) }}" method="POST">
            <label>Select tag from existings: </label>
            <select name="tag-id">
                {% for tag in all_tags %}
                    <option value="{{ tag['id'] }}">{{ tag['name'] }}</option>
                {% endfor %}
            </select>
            <button type="Submit" class="smallButton">ADD TAG</button>
            <p>or</p>
            <p><a href="{{ url_for("add_tag", question_id=question_id) }}" class="myButton">ADD NEW TAG</a></p>
        </form>
    {% endif %}
    <br>
    <h2>TAGS FOR QUESTION:</h2>
    <h4>{% for tag in tags_assigned_to_question %}
        {{ tag['name'] }}<br>
    {% endfor %}</h4>
    <br>
    <a href="{{ url_for('show_tags',tags=tags) }}" style="color: black">SHOW ALL TAGS</a>
    <br>
    {% if 'user_id' in session %}
        <form action="{{ url_for('delete_tag', question_id=question_id, tag_id=tag_id) }}" method="POST">
            <label>Select tag for delete:</label>
            <select name="tag-id">
                {% for tag in tags_assigned_to_question %}
                    <option value="{{ tag['id'] }}">{{ tag['name'] }}</option>
                {% endfor %}
            </select>
            <button type="Submit" class="smallButton">DELETE TAG</button>
        </form>
    {% endif %}
    <br>
    <h2>COMMENTS TO QUESTION:</h2>
    <table class="darkTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>MESSAGE</th>
            <th>SUBMISSION TIME</th>
            <th>EDITED COUNT</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comment_to_question %}
            <tr>
                <td>{{ comment["id"] }}</td>
                <td>{{ comment["message"] }}</td>
                <td>{{ comment["submission_time"] }}</td>
                <td>{{ comment["edited_count"] }}</td>
                {% if 'user_id' in session %}
                    <td>
                        <a href="{{ url_for("update_comment", comment_id=comment["id"], question_id=question_id) }}">EDIT</a>
                    </td>
                    <td>
                        <a href="{{ url_for("delete_comment", comment_id=comment["id"], question_id=question_id) }}">DELETE</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if 'username' in session %}
        <p><a href="{{ url_for('add_comment_to_question', question_id=question_id) }}" class="myButton">ADD NEW
            COMMENT</a>
        </p>
    {% endif %}
    <br>
    <br>
    <br>


    <h1>ANSWERS:</h1>
    <table class="darkTable">
        <thead>
        <tr>
            {% for header in answer_headers %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for answer in answers_to_single_question %}
            <tr>
                {% if answer['validation'] == True %}
                    <td><strong>&#9745;</strong></td>
                {% else %}
                    <td><strong>&#9746;</strong></td>
                {% endif %}

                <td> {{ answer["id"] }}</td>
                <td>{{ answer["user_id"] }}</td>
                <td> {{ answer["submission_time"] }}</td>
                <td> {{ answer["vote_number"] }}</td>
                <td> {{ answer["question_id"] }}</td>
                <td> {{ answer["message"] }}</td>
                <td><img src="{{ answer['image'] }}" height="150" alt="image from url"></td>


                {% if 'username' in session %}
                    <td>
                        <a href="{{ url_for("add_comment_to_answer", answer_id=answer["id"], question_id=answer["question_id"]) }}">COMMENT
                            ANSWER</a></td>
                    <td>
                        <a href="{{ url_for("update_answer", answer_id=answer["id"], question_id=answer["question_id"]) }}">EDIT
                            ANSWER</a></td>
                    <td>
                        <a href="{{ url_for("delete_answer", answer_id=answer["id"], question_id=answer["question_id"]) }}">DELETE
                            ANSWER</a></td>
                    <td>
                        <a href="{{ url_for("vote_for_answer", answer_id=answer["id"], question_id=answer["question_id"], vote_type='up') }}">VOTE
                            UP</a></td>
                    <td>
                        <a href="{{ url_for('vote_for_answer', answer_id=answer["id"], question_id=answer["question_id"], vote_type='down') }}">VOTE
                            DOWN</a></td>
                    <td>
                        {% if session['user_id'] == single_question['user_id'] %}
                            {% if answer['validation'] == True %}
                                <form action="{{ url_for('unaccepted_answer', question_id=answer["question_id"], answer_id=answer['id']) }}"
                                      method="post">
                                    <button type="submit">UNACCEPTED ANSWER</button>
                                </form>
                            {% else %}
                                <form action="{{ url_for('accepted_answer', question_id=answer["question_id"], answer_id=answer['id']) }}"
                                      method="post">
                                    <button type="submit">ACCEPTED ANSWER</button>
                                </form>
                            {% endif %}
                        {% endif %}

                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if 'username' in session %}
        <a href="{{ url_for('add_new_answer',question_id=question_id) }}" class="myButton">ADD NEW ANSWER</a>
    {% endif %}






    <br>
    <br>
    <h2>COMMENTS TO ANSWERS:</h2>
    <table class="darkTable">
        <thead>
        <tr>
            <th>COMMENT<br>ID</th>
            <th>USER ID</th>
            <th>QUESTION<br>ID</th>
            <th>ANSWER<br>ID</th>
            <th>MESSAGE</th>
            <th>SUBMISSION<br>TIME</th>
            <th>EDITED<br>COUNT</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comment_to_answer %}
            <tr>
                <td>{{ comment["id"] }}</td>
                <td>{{ comment["user_id"] }}</td>
                <td>{{ comment["question_id"] }}</td>
                <td>{{ comment["answer_id"] }}</td>
                <td>{{ comment["message"] }}</td>
                <td>{{ comment["submission_time"] }}</td>
                <td>{{ comment["edited_count"] }}</td>
                {% if 'username' in session %}
                    <td>
                        <a href="{{ url_for("update_comment", comment_id=comment["id"], question_id=comment["question_id"]) }}">EDIT</a>
                    </td>
                    <td>
                        <a href="{{ url_for("delete_comment", comment_id=comment["id"], question_id=question_id) }}">DELETE</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
<br>
<br>