{% extends 'layout.html' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <td>USERNAME</td>
            <td>REGISTRATION<br>DATE</td>
            <td>COUNT OF<br>ASKED QUESTIONS</td>
            <td>COUNT OF<br> ANSWERS</td>
            <td>COUNT OF<br> COMMENTS</td>
            <td>REPUTATION</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.submission_time }}</td>
                <td>{{ user.count_questions }}</td>
                <td>{{ user.count_answers }}</td>
                <td>{{ user.count_comments }}</td>
                <td>{{ user.reputation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Question asked</h2>
    <table>
        <thead>
        <tr>
            <th>TITLE</th>
            <th>MESSAGE</th>
            <th>SUBMISSION<br>TIME</th>
            <th>VIEW<br>NUMBER</th>
            <th>VOTE<br>NUMBER</th>
            <th>IMAGE</th>
        </tr>
        </thead>
        {% for question in questions %}
            <tr>
                <td><a href="/question/{{ question.id }}"><strong>{{ question.title }}</strong></a></td>
                <td>{{ question.message }}</td>
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td>{{ question.image }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Posted answer</h2>
    <table>
        <thead>
        <tr>
            <td>QUESTION TITLE</td>
            <td>MESSAGE</td>
            <td>SUBMISSION TIME</td>
            <td>VOTE<br>NUMBER</td>
            <td>IMAGE</td>
        </tr>
        </thead>
        {% for answer in answers %}
            <tr>
                <td><a href="/question/{{ answer.question_id }}"><strong>{{ answer.title }}</strong></a></td>
                <td>{{ answer.message }}</td>
                <td>{{ answer.submission_time }}</td>
                <td>{{ answer.vote_number }}</td>
                <td><img src="{{ answer['image'] }}" height="150" alt="image from url"></td>
            </tr>
        {% endfor %}
    </table>


    <h2>Posted comments</h2>
    <table>
        <thead>
        <tr>
            <td>QUESTION TITLE</td>
            <td>MESSAGE</td>
            <td>SUBMISSION TIME</td>

        </tr>
        </thead>
        {% for comment in comments %}
            <tr>
                <td><a href="/question/{{ comment.question_id }}"><strong>{{ comment.title }}</strong></a></td>
                <td>{{ comment.message }}</td>
                <td>{{ comment.submission_time }}</td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <p><a href="/users" style="color: black">GO BACK TO USERS PAGE</a></p>
{% endblock %}