{% extends 'layout.html' %}

{% block content %}
    <h2> {{ user['username'] }}'S PROFILE:</h2>
    <br>
    <p><strong>USER ID:</strong> {{ user['id'] }}</p>
    <p><strong>USER NAME:</strong> {{ user['username'] }}</p>
    <p><strong>REGISTRATION DATE:</strong> {{ user['submission_time'] }}</p>
    <p><strong>NUMBER OF ASKED QUESTIONS:</strong> {{ user['count_questions'] }}</p>
    <p><strong>NUMBER OF ANSWERS:</strong> {{ user['count_answers'] }}</p>
    <p><strong>NUMBER OF COMMENTS:</strong> {{ user['count_answers'] }}</p>
    <p><strong>REPUTATION:</strong> {{ user['reputation'] }}</p>
    <br>
    <br>
    <p><a href="/users" style="color: black">GO BACK TO USERS PAGE</a></p>
{% endblock %}